// mat-grid-tile{
//     background-color: lightgrey;
//     margin: .5em;
//     transition: all .2s ease-in-out;
//     -webkit-transition: all .2s ease-in-out;
//     &:hover{
//         background-color: darken(lightgrey, 5%);
//         transform: scale(.9);
//         transition: all .2s ease-in-out;
//         -webkit-transition: all .2s ease-in-out;

//     }
    
// }

.mat-card-image:first-child {
    margin-top: -15px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

mat-card{
    cursor: pointer;
    margin-bottom:25px;
    transition: all .15s ease-in-out;
   -webkit-transition: all .15s ease-in-out;
   &:hover{
            transform: scale(1.03);
            transition: all .15s ease-in-out;
            -webkit-transition: all .15s ease-in-out;
    
        }
}



