@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
span{
    font-weight: bold;
    background: lightgrey;
    padding: .3em .8em;
    cursor: pointer;
    user-select: none;
}

.play-container{
    padding: 3em;
    border: 1px solid lightgrey;
    margin-bottom: 1em;
    input{
        padding: 1em;
        margin-bottom: 2em;
    }
}

mat-icon{
    margin: 1em;
    cursor: pointer;
}

.mb-2{
    margin-bottom: 2rem;
}

.mt-2{
    margin-top: 2rem;
}